# Ignore node_modules to rebuild fresh in container
node_modules
npm-debug.log
.env
.DS_Store

# Git-related
.git
.gitignore

# Build output (if you're copying source and building inside container)
dist
build