@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://use.typekit.net/jsd3bqv.css");



body {
  color: rgb(var(--foreground-rgb));
}

.loos-condensed-font {
  font-family: "Loos ExtraWide", sans-serif;
  font-weight: 700;
  font-style: normal;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


